.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .title {
    margin-top: 60px;
    font-size: 40px;
    font-weight: 700;
    color: #cdcdcd;
  }
  .text {
    margin: 30px 0px;
  }
  .input {
    margin: 30px 0px;
  }
  .try-again {
    button {
      padding: 5px 10px;
      background-color: #989eb0;
      outline: none;
      border: none;
      color: white;
      cursor: pointer;
      margin-bottom: 70px;
    }
    button:hover {
      background-color: #767a87;
    }
  }
  .result {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    color: #cdcdcd;
  }
}
