.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: white;
}
.wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 5px 10px;
    margin-left: 20px;
    background-color: #989eb0;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  button:hover {
    background-color: #767a87;
  }
}
.title {
  margin-top: 100px;
  font-size: 40px;
  font-weight: 700;
  color: #cdcdcd;
}

.malburo {
  display: flex;
}
