@import '../../assets/styles/colors';

.wrapper {
  max-width: 800px;
  min-height: 120px;
  background-color: $dark-color-1;
  color: $text-color;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.8;

  padding: 30px;
  text-align: left;
  border-radius: 10px;
  cursor: text;
}
