.wrapper {
  max-width: 800px;
  min-height: 120px;
  font-size: 18px;
  line-height: 1.8;
  cursor: text;
  background-color: #212330;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  padding: 30px;
  color: #bababa;
  font-weight: 600;
}
