@import "../../assets/styles/colors";

.wrapper {
  max-width: 800px;
  color: $text-color;

  line-height: 60px;
  font-size: 28px;

  text-align: left;
  margin: 0 auto;
  cursor: text;

  span {
    border-left: 2px solid transparent;
  }
  .correct {
    color: $correct-color;
  }
  .incorrect {
    color: $incorrect-color;
  }
  .active {
    animation: blink-caret 0.85s ease-in-out infinite;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-left: 2px solid transparent;
  }
  50% {
    border-left: 2px solid #e2b714;
  }
}
