@import "../../assets/styles/colors";
.home-page {
  text-align: center;
  .title {
    display: none;
  }
  .text {
    margin: 40px 0px;
  }
  .result {
    color: #cdcdcd;
  }
  .restart {
    width: 20px;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 960px) {
  .home-page {
    .title {
      display: block;
      margin-top: 100px;
      font-size: 40px;
      font-weight: 600;
      color: $main-color;
    }
    .text {
      margin: 80px 0px;
    }
  }
}
