.input {
  width: 500px;

  padding: 14px 20px;
  font-size: 18px;
  background-color: #353748;
  outline: none;
  border: none;
  color: white;
  border-radius: 3px;
}
.input:focus {
  border: 2px solid #888a99;
}
