.footer {
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #212330;
  font-size: 14px;
  p {
    margin: 0;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #ccc;
  }
}
