@import "../../assets/styles/colors";
.home-page {
  text-align: center;
  .title {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 600;
    color: $main-color;
  }
  .text {
    margin: 80px 0px;
  }
  .try-again {
    button {
      padding: 5px 10px;
      background-color: #989eb0;
      outline: none;
      border: none;
      color: white;
      cursor: pointer;
      margin: 20px;
      margin-bottom: 70px;
    }
    button:hover {
      background-color: #767a87;
    }
  }
  .result {
    color: #cdcdcd;
  }
  .restart {
    width: 20px;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
