@import "assets/styles/colors";

body {
  margin: 0;
  font-family: "Roboto Mono", monospace !important;
}

.app {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  background-color: $background-color;
}
