$main-color: #e2b714;
$white-color: #fff;
$background-color: #323437;

$text-color: #646669;
$text-color-dark: #7e7e7e;

$dark-color-1: #222223;
$dark-color-2: #353748;

$correct-color: #d1d0c5;
$incorrect-color: #ca4754;
